<!-- <card [conteudo]="'Segundo card'"></card>
<card [conteudo]="'Terceiro card'"></card>
<card [conteudo]="'Quarto card'"></card>
<card [conteudo]="'Quinto card'"></card>
<card [conteudo]="'Sexto card'"></card> -->
<div class="">
  <input type="text" name="card" [formControl]="cardInput" />
  <button type="button" name="button" (click)="adicionarCard()">
    Criar card
  </button>
</div>

<card
  *ngFor="let card of listaCards"
  [conteudo]="card"
  (excluir)="onExcluir($event)"
></card>

<div class="">{{ title }}</div>
