.page {
  width: 70%;
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
}

.form {
  flex: 0 1 60%;
}

.preview {
  flex: 0 1 20%;
}

.input {
  margin: 1em auto;
}

.input > input,
.input > select {
  width: 100%;
  display: block;
  padding: 5px;
  border-radius: 5px;
  border: solid #999 1px;
}

.input > label {
  width: 100%;
  display: block;
}

.erro {
  background-color: red;
  color: white;
  padding: 0.5em;
  border-radius: 5px;
  margin-top: 0.5em;
}
